
.card-set-container {
    position: relative;
}



.cards-container {
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;
    width: 1px;
    top: 50px;
    padding-top: 100px;
}

.card {
    display: block;
    width: 200px;
    height: 310px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
    transform-origin: bottom center;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease-in-out, z-index 0s linear 0.7s; /* Delay z-index transition to after the card moves */
    z-index: 1; /* Default z-index */
    animation-timing-function: ease-in;
}

    /* Back of card */
    .card .back {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 20px;
    }

    /* Front of card (icon) - initially hidden */
    .card .front {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .card:hover .back {
        display: flex;
    }

    /* Hover effect to lift the card */
    .card:hover {
        transform: translateY(-20px);
        z-index: 100; /* Bring to the top */
        transition: transform 0.7s ease-in-out, z-index 0s; /* Remove delay for z-index transition */
    }

/* Fan out animation */
@keyframes card_ani {
    100% {
        transform: rotate(var(--rotate)); /* Use the CSS variable for the rotation angle */
    }
}

/* Assign the animation to all cards */
.card {
    animation-name: card_ani;
}


.prev-button1 {
    display: none;
}

.next-button1 {
    display: none;
}

.card {
    /* Other styles */
    width: 200px;
    height: 310px;
}

/* Adjust the size for smaller screens */
@media (max-width: 921px) {

    .page-id-1318 #secondary.secondary {
        padding-top: 400px !important;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100px;
        height: 220px;
        border-radius: 5px;
    }
}

/* Adjust the size for even smaller screens */
@media (max-width: 400px) {
    .card {
        width: 100px;
        height: 155px;
    }
}
